Repository HanaMisskey/misskey, pull requests merged in 2024-09, with the labels that each got.

#56 Enhance: Twitterインポート機能の強化
  packages/backend/src/queue/processors/ImportNotesProcessorService.ts
Labels: packages/backend

#57 merge upstream
  .github/workflows/lint.yml
  CHANGELOG.md
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/server/api/endpoints/admin/queue/deliver-delayed.ts
  packages/backend/src/server/api/endpoints/admin/queue/inbox-delayed.ts
  packages/backend/src/server/web/boot.js
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/_boot_.ts
  packages/frontend/src/_dev_boot_.ts
  packages/frontend/src/pages/admin/overview.queue.vue
  packages/frontend/src/pages/admin/queue.chart.vue
  packages/frontend/src/pages/admin/queue.vue
  packages/frontend/src/scripts/i18n.ts
  packages/frontend/test/i18n.test.ts
  packages/misskey-js/src/autogen/types.ts
  packages/sw/build.js
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/scripts/get-account-from-id.ts
  packages/sw/src/scripts/i18n.ts
  packages/sw/src/scripts/lang.ts
  packages/sw/src/scripts/operations.ts
  packages/sw/src/sw.ts
  packages/sw/tsconfig.json
Labels: packages/backend, packages/frontend, packages/misskey-js, packages/sw

#59 Enhance: はなみタイムラインの改善
  packages/backend/src/server/api/endpoints/notes/hanami-timeline.ts
Labels: packages/backend

#63 Fix&Chore: ノートインポートの改善
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/queue/QueueProcessorService.ts
Labels: packages/backend

#64 Perf & Fix: はなみタイムラインの改善
  packages/backend/src/server/api/endpoints/notes/hanami-timeline.ts
Labels: packages/backend

#65 Enhance: はなみタイムラインの強化(高速化、ストリーミング対応、取得投稿のランダム性) / Chore: みつけるのハイライトの基準を緩める
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/backend/src/server/api/endpoints/notes/hanami-timeline.ts
  packages/backend/src/server/api/stream/channels/hanami-timeline.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#68 enhance(frontend): 検索機能の注意書きを追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/search.note.vue
Labels: packages/frontend

#69 enhance(frontend): チュートリアルにセンシティブなコンテンツに関する設定を追加
  cypress/e2e/basic.cy.ts
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkTutorial.MinorSettings.vue
  packages/frontend/src/components/MkTutorial.vue
  packages/frontend/src/store.ts
Labels: packages/frontend, packages/frontend:test

#70 Dev: Dev Container環境下でCypressによるテストを実行可能に
  .config/cypress-devcontainer.yml
  .devcontainer/init.sh
  .gitignore
  package.json
Labels: should be done in upstream
