Repository HanaMisskey/misskey, pull requests merged in 2024-08, with the labels that each got.

#11 feat(frontend): 独自lp
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/welcome.entrance.hana.vue
  packages/frontend/src/pages/welcome.vue
  packages/frontend/src/ui/visitor.vue
Labels: packages/frontend

#16 fix(frontend): 一部の制限環境下で動作しない問題を修正
  packages/backend/src/server/web/boot.js
  packages/frontend/src/scripts/misskey-api.ts
Labels: packages/backend, packages/frontend

#9 feat: オンボーディング
  cypress/e2e/basic.cy.ts
  cypress/e2e/router.cy.ts
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1708933788259-canSkipInitialTutorial.js
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/assets/tutorial/reaction.png
  packages/frontend/package.json
  packages/frontend/src/_boot_.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/HanaHanaModeSwitcher.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/components/MkTutorial.FollowUsers.UserCard.vue
  packages/frontend/src/components/MkTutorial.FollowUsers.vue
  packages/frontend/src/components/MkTutorial.HanaModeSettings.vue
  packages/frontend/src/components/MkTutorial.Note.vue
  packages/frontend/src/components/MkTutorial.PostNote.vue
  packages/frontend/src/components/MkTutorial.PrivacySettings.vue
  packages/frontend/src/components/MkTutorial.ProfileSettings.vue
  packages/frontend/src/components/MkTutorial.Sensitive.vue
  packages/frontend/src/components/MkTutorial.Timeline.vue
  packages/frontend/src/components/MkTutorial.vue
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUserSetupDialog.Follow.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.Privacy.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.Privacy.vue
  packages/frontend/src/components/MkUserSetupDialog.Profile.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.User.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.vue
  packages/frontend/src/components/form/link.vue
  packages/frontend/src/pages/admin/moderation.vue
  packages/frontend/src/pages/onboarding.vue
  packages/frontend/src/pages/signup-complete.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/scripts/reaction-picker.ts
  packages/frontend/src/type.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js, packages/frontend:test, packages/misskey-js:test

#34 enhance(frontend): デフォルトのリアクションデッキに🤯を入れる
  packages/frontend/src/store.ts
Labels: packages/frontend

#36 enhance(frontend): preconnectタグの追加など
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/index.html
  packages/frontend/src/style.scss
Labels: packages/backend, packages/frontend

#37 Merge upstream 1
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#38 Chore: BackspaceKeyでよく使われていた機能を移行
  packages/backend/src/misc/is-user-related.ts
  packages/backend/src/server/api/endpoints/notes/reactions.ts
  packages/backend/src/server/api/endpoints/stats.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/backend, packages/frontend

#29 feat: 自動移行
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1724315850057-BskMiAuth.js
  packages/backend/src/config.ts
  packages/backend/src/core/BskMiAuthService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/models/User.ts
  packages/backend/src/server/BskWebhookServerService.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/i/bsk-migrate/get-miauth-id.ts
  packages/backend/src/server/api/endpoints/i/bsk-migrate/remove.ts
  packages/backend/src/server/api/endpoints/i/bsk-migrate/status.ts
  packages/backend/src/server/api/endpoints/i/bsk-migrate/verify.ts
  packages/frontend/src/components/MkTutorial.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/migrate-from-bsk.vue
  packages/frontend/src/router/definition.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#39 fix(backend): webhookのエラー時にbodyを返すように
  packages/backend/src/server/BskWebhookServerService.ts
Labels: packages/backend

#41 Fix: user activity on note import
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#44 Enhance: はなみすきーについてのページを追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/AchievementService.ts
  packages/frontend/assets/about-bsk-logo.png
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/pages/about-hanamisskey.vue
  packages/frontend/src/pages/about.overview.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/scripts/achievements.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#45 Fix: Remove Unusable Widgets on This Server
  packages/frontend/src/widgets/index.ts
  packages/frontend/src/widgets/server-metric/cpu-mem.vue
  packages/frontend/src/widgets/server-metric/cpu.vue
  packages/frontend/src/widgets/server-metric/disk.vue
  packages/frontend/src/widgets/server-metric/index.vue
  packages/frontend/src/widgets/server-metric/mem.vue
  packages/frontend/src/widgets/server-metric/net.vue
  packages/frontend/src/widgets/server-metric/pie.vue
Labels: packages/frontend

#46 Chore: Update default settings (except profile settings)
  packages/frontend/src/store.ts
Labels: packages/frontend

#49 Chore: update image url
  packages/frontend/src/pages/about-hanamisskey.vue
Labels: packages/frontend

#17 Revert "fix(frontend): 一部の制限環境下で動作しない問題を修正"
  packages/backend/src/server/web/boot.js
  packages/frontend/src/scripts/misskey-api.ts
Labels: packages/backend, packages/frontend

#52 Chore: Remove statement_timeout
  packages/backend/src/postgres.ts
  packages/backend/test/unit/chart.ts
Labels: packages/backend, packages/backend:test

#53 Enhance: Tweak hanami-timeline algorithm
  packages/backend/src/server/api/endpoints/notes/hanami-timeline.ts
Labels: packages/backend
